.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.personalImage {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.personalImage img {
  height: 250px;
  z-index: 50;
  border-radius: 250px;
  border: 1px solid #def2f1;
}

.contentContainer {
  padding: 10px;
}

.contentContainer h4 {
  color: #17252a;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}

.contentContainer h5 {
  color: #feffff;
  font-size: 20px;
  margin-bottom: 15px;
}

.contentDescription {
  color: #def2f1;
}

.infoContainer {
  margin-top: 30px;

}

.info {
  padding-left: 0;
}

.infoContainer span {
  color: #feffff;
}

.infoContainer p {
  color: #def2f1;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
}

.infoContainer a {
  color: #17252a;
}

.infoContainer a:hover {
  color: white;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}

.downloadCV {
  margin-top: 30px;
  margin-bottom: 30px;
}


@media (min-width: 992px) {
  .personalImage img {
    height: 330px;
    z-index: 50;
    border-radius: 0;
    padding: 6px;
  }

  .personalImage {
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}