.contactWrap {
  margin-left: 100px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.contentTitle {
  color: #feffff;
  padding-bottom: 10px;
}

.contactInfo {
  font-size: 12px;
  color: #def2f1;
  margin-bottom: 30px;
  margin-left: 10px;
}

.contentDescription {
  font-size: 15px;
}

.info {
  font-size: 15px;
}

.infoDescription {
  margin-bottom: 30px;
}

.personalContactInfo {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

.infoWrap {
  border-left: 2px solid #def2f1;
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
}


textarea {
  height: auto;
  font-family: "Poppins", sans-serif;
}

.icon {
  color: #17252a;
  font-size: 28px;
}

.infoIcon {
  width: 50px;
  display: flex;
  align-items: center;
}

.infoType {
  color: #feffff;
  font-size: 15px;
}

.infoValue a {
  color: #17252a;
}

.infoWrap a:hover {
  color: white;
}

.contactInfo {
  font-size: 15px;
}


.contact .socialIcons {
  display: inline;
  padding-bottom: 30px;
}