@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background-color: #3aafa9;
}

body {
  font-family: "Poppins", sans-serif;
}

::selection {
  background-color: #17252a;
  color: #feffff;
}

.pageTitle {
  color: #feffff;
  font-size: 36px;
  border-bottom: 3px solid #17252a;
  margin-bottom: 50px;
}

.pageDescription {
  color: #def2f1;
  ;
  font-size: 14px;
}

.socialIcons .icon {
  color: #feffff;
}

.socialIcons .icon:hover {
  scale: 1.2;
  color: #17252a;
}

.btn {
  color: #f9f9f9;
  background-color: #17252a;
  border: none;
  font-size: 14px;
  padding: 12px 30px;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: black;
}

header {
  padding: 30px;
  color: #feffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.links {
  display: flex;
  top: 93px;
  right: 0px;
  background-color: #3aafa9;
  width: 100%;
  padding: 10px;
  z-index: 999;
  border-radius: 10px;
  flex-direction: row;
}

.links a:not(:last-child) {
  margin-right: 20px;
}

.links a {
  text-decoration: none;
  color: #feffff;
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: relative;
}

.links a:hover {
  color: white;
}

.links.open {
  display: block;
  animation: slideDown 0.5s ease-in-out forwards;
}

.dropdown-toggle {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.openMenu,
.closeMenu {
  height: 20px;
  transition: transform 0.5s ease-in-out;
}

.closeMenu {
  transform: rotate(180deg);
  cursor: pointer;
}

.links .closed {
  background-color: transparent;
}

header {
  padding: 30px;
  color: #feffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.links {
  position: relative;
  top: 0;
  width: 100%;
  padding: 0 10px;

}

.links a {
  padding: 0px;
  margin-left: 3px;
}

.links a:not(:last-child) {
  margin-right: 20px;
}

.links.open {
  display: flex;
}

.links a:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #feffff;
  transition: width 0.3s ease-in-out;
}

.links a:hover:before {
  width: 100%;
}

.links a.active:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #feffff;
  transition: width 0.3s ease-in-out;
  width: 100%;
}

.closed {
  background-color: transparent;
}