.homepage .description {
  font-size: 30px;
}

.homepage .socialIcons {
  display: flex;
  position: absolute;
  left: 50px;
  bottom: 20px;
  flex-direction: column;

}

.homepage {
  height: calc(100% - 93px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroimage {
  position: absolute;
  bottom: 0;
  opacity: 1 !important;
  height: 80%;
  right: 0px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  text-align: center;
  z-index: 1;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.name {
  color: #fff;
  font-weight: 700;
  margin-top: -100px;
  padding-bottom: 28px;
  font-size: 70px;
}